<div class="container">
  <!-- section title -->
  <h2 class="section-title wow fadeInUp">Experience</h2>

  <div class="spacer-60"></div>

  <div class="row">
    <div class="col-md-6">
      <!-- timeline wrapper -->
      <div class="timeline edu rounded bg-white shadow-dark padding-30 overflow-hidden">
        <!-- timeline item -->
        <div class="timeline-container wow fadeInUp">
          <div class="content">
            <span class="time">2021 - Present</span>
            <h3 class="title">Bachelor’s Degree</h3>
            <p>Bangkok University, Thailand</p>
            <p>School of Information Technology and Innovation, Computer Science</p>
          </div>
        </div>

        <!-- timeline item -->
        <div class="timeline-container wow fadeInUp" data-wow-delay="0.2s">
          <div class="content">
            <span class="time">2018 - 2020</span>
            <h3 class="title">High School</h3>
            <p>Hatyaiwittayalai, Thailand</p>
            <p>Science and Mathematics Program</p>
          </div>
        </div>

        <!-- main line -->
        <span class="line"></span>
      </div>
    </div>

    <div class="col-md-6">
      <!-- responsive spacer -->
      <div class="spacer-30 d-md-none d-lg-none"></div>

      <!-- timeline wrapper -->
      <div class="timeline exp bg-white shadow-dark rounded padding-30 overflow-hidden">
        <!-- timeline item -->
        <div class="timeline-container wow fadeInUp">
          <div class="content">
            <span class="time">2023 - Present</span>
            <h3 class="title">Young Thai Science Ambassador</h3>
            <p>Promoting the development of science communication personnel 
              in higher education to enhance their knowledge and skills in conveying scientific knowledge, technology, and innovation stories.</p>
          </div>
        </div>

        <!-- timeline item -->
        <div class="timeline-container wow fadeInUp" data-wow-delay="0.2s">
          <div class="content">
            <span class="time">2022 - Present</span>
            <h3 class="title">Microsoft Learn Student Ambassadors</h3>
            <p>The Student Ambassadors program provides plenty of opportunities 
              for you to learn and lead so you can make a difference and empower those around you.</p>
          </div>
        </div>


        <!-- main line -->
        <span class="line"></span>
      </div>
    </div>
  </div>
</div>
