<div class="container">
  <!-- section title -->
  <h2 class="section-title wow fadeInUp">Speaker/Hosting</h2>

  <div class="spacer-60"></div>

  <div class="row blog-wrapper">
    <div class="col-md-4">
      <!-- blog item -->
      <div class="spacer-20"></div>
      <div class="blog-item rounded bg-white shadow-dark wow fadeIn">
        <div class="thumb">
          <a href="javascript:">
            <span class="category">Speaker</span>
          </a>
          <a href="https://www.facebook.com/msftstudentambassadorsbu/posts/pfbid02SHSioj4BqTNKYqHNiBNtZKbGmgQJpBHMKUMAGimVzTxiJnr4E2UkMtP1JqYh9ia1l" target="_blank">
            <img src="assets/images/speaker/python_dev.JPG" alt="blog-title" />
          </a>
        </div>
        <div class="details">
          <h4 class="my-0 title"><a href="https://www.facebook.com/msftstudentambassadorsbu/posts/pfbid02SHSioj4BqTNKYqHNiBNtZKbGmgQJpBHMKUMAGimVzTxiJnr4E2UkMtP1JqYh9ia1l" target="_blank">
            Python Developer Pathway (The First Chapter : Be Inspired)</a></h4>
          <ul class="list-inline meta mb-0 mt-2">
            <li class="list-inline-item">22 July, 2023</li>
            <li class="list-inline-item">Palatip Jantawong</li>
          </ul>
        </div>
      </div>
    </div>

    
  </div>
</div>
