<div class="container">
  <!-- section title -->
  <h2 class="section-title wow fadeInUp">About Me</h2>

  <div class="spacer-60"></div>

  <div class="row">
    <div class="col-md-3">
      <div class="text-center text-md-left">
        <!-- avatar image -->
        <img src="assets/images/avatar-2.svg" alt="PalatipJant" />
      </div>
      <div class="spacer-30 d-md-none d-lg-none"></div>
    </div>

    <div class="col-md-9 triangle-left-md triangle-top-sm">
      <div class="rounded bg-white shadow-dark padding-30">
        <div class="row">
          <div class="col-md-6">
            <!-- about text -->
            <h4>Hello, I'm Fee (Palatip Jantawong),</h4>
            <p>
              a Computer Science student at Bangkok University with three years of experience. 
              I'm passionate about becoming an iOS mobile developer and currently working on diverse projects, 
              including my own iOS app, showcasing skills in Swift, SwiftUI, Python, HTML, and CSS, 
              along with design proficiency in tools like Figma and Adobe software. 
              I'm actively seeking an iOS development internship to further my knowledge and gain practical experience 
              in crafting exceptional user interfaces and writing efficient code, aiming to contribute significantly 
              to the iOS app development landscape.
            </p>
            <div class="mt-3">
              <a href="assets/Palatip-CV.pdf" class="btn btn-default" download="Palatip-CV.pdf">Download CV</a>
            </div>
            <div class="spacer-30 d-md-none d-lg-none"></div>
          </div>
          <div class="col-md-6">
            <!-- skill item -->
            <div class="skill-item">
              <div class="skill-info clearfix">
                <h4 class="float-left mb-3 mt-0">👑 Language & Tools 👑</h4>
              </div>
            </div>
            <!-- skill item -->
            <div class="skill-item">
              <div class="skill-info clearfix">
                <p class="float-left mb-3 mt-0">Swift / SwiftUI</p>
                <p class="float-right">Python</p>
              </div>
            </div>
            <!-- skill item -->
            <div class="skill-item">
              <div class="skill-info clearfix">
                <p class="float-left mb-3 mt-0">Java</p>
                <p class="float-right">HTML & CSS</p>
              </div>
            </div>
            <div class="skill-item">
              <div class="skill-info clearfix">
                <p class="float-left mb-3 mt-0">Figma</p>
                <p class="float-right">Adobe Products</p>
              </div>
            </div>
            <div class="skill-item">
              <div class="skill-info clearfix">
                <p class="float-left mb-3 mt-0">Azure</p>
                <p class="float-right">Google Cloud Platform</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- row end -->

  <div class="spacer-70"></div>

  <div class="row">
    <div class="col-md-3 col-sm-6">
      <!-- fact item -->
      <div class="fact-item">
        <span class="icon icon-fire"></span>
        <div class="details">
          <h3 class="mb-0 mt-0 number"><em class="count">12</em></h3>
          <p class="mb-0">Projects completed</p>
        </div>
      </div>
      <div class="spacer-30 d-md-none d-lg-none"></div>
    </div>

    <div class="col-md-3 col-sm-6">
      <!-- fact item -->
      <div class="fact-item">
        <span class="icon icon-cup"></span>
        <div class="details">
          <h3 class="mb-0 mt-0 number"><em class="count">593</em></h3>
          <p class="mb-0">Cup of coffee</p>
        </div>
      </div>
      <div class="spacer-30 d-md-none d-lg-none"></div>
    </div>

    <div class="col-md-3 col-sm-6">
      <!-- fact item -->
      <div class="fact-item">
        <span class="icon icon-calendar"></span>
        <div class="details">
          <h3 class="mb-0 mt-0 number"><em class="count">14</em></h3>
          <p class="mb-0">Events Attended</p>
        </div>
      </div>
      <div class="spacer-30 d-md-none d-lg-none"></div>
    </div>

    <div class="col-md-3 col-sm-6">
      <!-- fact item -->
      <div class="fact-item">
        <span class="icon icon-trophy"></span>
        <div class="details">
          <h3 class="mb-0 mt-0 number"><em class="count">17</em></h3>
          <p class="mb-0">Awards & Certificate</p>
        </div>
      </div>
    </div>
  </div>
</div>
