<div class="container">
  <!-- section title -->
  <h2 class="section-title wow fadeInUp">Recent works</h2>

  <div class="spacer-60"></div>

  <!-- portfolio filter (desktop) -->
  <ul class="portfolio-filter list-inline wow fadeInUp">
    <li class="list-inline-item" [ngClass]="{ current: workFilter === 'all' }" (click)="workFilter = 'all'">Everything</li>
    <li class="list-inline-item" [ngClass]="{ current: workFilter === 'software' }" (click)="workFilter = 'software'">Software & Application</li>
    <li class="list-inline-item" [ngClass]="{ current: workFilter === 'website' }" (click)="workFilter = 'website'">Website</li>
    <li class="list-inline-item" [ngClass]="{ current: workFilter === 'design' }" (click)="workFilter = 'design'">Design</li>
    <li class="list-inline-item" [ngClass]="{ current: workFilter === 'itsfye' }" (click)="workFilter = 'itsfye'">It's fye</li>
  </ul>

  <!-- portfolio filter (mobile) -->
  <div class="pf-filter-wrapper">
    <select class="portfolio-filter-mobile" (change)="onChange($event)">
      <option value="all">Everything</option>
      <option value="software">Software & Application</option>
      <option value="website">Website</option>
      <option value="design">Design</option>
      <option value="itsfye">It's fye</option>
    </select>
  </div>

  <!-- portolio wrapper -->
  <div class="row portfolio-wrapper">
    <!-- portfolio item -->
    <!-- <div class="col-md-4 col-sm-6 grid-item art" *ngIf="workFilter === 'all' || workFilter === 'website'">
      <a href="javascript:" class="work-image" (click)="singleGallery.open(0)">
        <div class="portfolio-item rounded shadow-dark">
          <div class="details">
            <span class="term">Website</span>
            <h4 class="title">Project Managment Illustration</h4>
            <span class="more-button"><i class="icon-magnifier-add"></i></span>
          </div>
          <div class="thumb">
            <app-gallery #singleGallery [albums]="singleGallery1"></app-gallery>
            <div class="mask"></div>
          </div>
        </div>
      </a>
    </div> -->

    <!-- portfolio item -->
    <div
      class="col-md-4 col-sm-6 grid-item software"
      *ngIf="workFilter === 'all' || workFilter === 'design'"
    >
      <a href="javascript:" class="work-content" data-toggle="modal" (click)="exampleModalCenter3.show()">
        <div class="portfolio-item rounded shadow-dark">
          <div class="details">
            <span class="term">Design</span>
            <h4 class="title">Carbon Offset Platform</h4>
            <span class="more-button"><i class="icon-options"></i></span>
          </div>
          <div class="thumb">
            <img src="assets/images/works/design_carbon_offset.png" alt="Portfolio-title" />
            <div class="mask"></div>
          </div>
        </div>
      </a>
    </div>

    <app-ui-modal #exampleModalCenter3 dialogClass="modal-dialog-centered work-modal" [hideHeader]="true" [hideFooter]="true">
      <div class="app-modal-body">
        <div id="small-dialog" class="white-popup zoom-anim-dialog mfp-hide">
          <img src="assets/images/works/design_carbon_offset.png" alt="Title" />
          <h2>Carbon Offset Platform</h2>
          <p>
            🌱Design project for Greenie (Carbon offset platform)🌱
          </p>
          <p>🙏vector element from inkyy 🙏</p>
          <a href="https://dribbble.com/shots/21835307-Carbon-Offset-platform-website" target="_blank" class="btn btn-default">View on Dribbble</a>
        </div>
      </div>
    </app-ui-modal>

    <!-- portfolio item -->
    <div
      class="col-md-4 col-sm-6 grid-item software"
      *ngIf="workFilter === 'all' || workFilter === 'software'"
    >
      <a href="javascript:" class="work-content" data-toggle="modal" (click)="exampleModalCenter0.show()">
        <div class="portfolio-item rounded shadow-dark">
          <div class="details">
            <span class="term">Software & Application</span>
            <h4 class="title">100 Days of Code The Complete Python Pro Bootcamp</h4>
            <span class="more-button"><i class="icon-options"></i></span>
          </div>
          <div class="thumb">
            <img src="assets/images/works/python-100-days.png" alt="Portfolio-title" />
            <div class="mask"></div>
          </div>
        </div>
      </a>
    </div>

    <app-ui-modal #exampleModalCenter0 dialogClass="modal-dialog-centered work-modal" [hideHeader]="true" [hideFooter]="true">
      <div class="app-modal-body">
        <div id="small-dialog" class="white-popup zoom-anim-dialog mfp-hide">
          <img src="assets/images/works/python-100-days.png" alt="Title" />
          <h2>100 Days of Code The Complete Python Pro Bootcamp</h2>
          <p>
            Master Python by building 100 projects in 100 days. Learn data science, automation, build websites, games and apps!
          </p>
          <a href="https://github.com/palatipjant/100-Days-of-Code-The-Complete-Python-Pro-Bootcamp" target="_blank" class="btn btn-default">View on GitHub</a>
        </div>
      </div>
    </app-ui-modal>

    <!-- portfolio item -->
    <div
      class="col-md-4 col-sm-6 grid-item software"
      *ngIf="workFilter === 'all' || workFilter === 'software'"
    >
      <a href="javascript:" class="work-content" data-toggle="modal" (click)="exampleModalCenter.show()">
        <div class="portfolio-item rounded shadow-dark">
          <div class="details">
            <span class="term">Software & Application</span>
            <h4 class="title">DoubleJ - POS & Mech</h4>
            <span class="more-button"><i class="icon-options"></i></span>
          </div>
          <div class="thumb">
            <img src="assets/images/works/doublej.png" alt="Portfolio-title" />
            <div class="mask"></div>
          </div>
        </div>
      </a>
    </div>

    <app-ui-modal #exampleModalCenter dialogClass="modal-dialog-centered work-modal" [hideHeader]="true" [hideFooter]="true">
      <div class="app-modal-body">
        <div id="small-dialog" class="white-popup zoom-anim-dialog mfp-hide">
          <img src="assets/images/works/doublej.png" alt="Title" />
          <h2>DoubleJ - POS & Mech</h2>
          <p>
            DoubleJ - POS & Mech is a Point of Sale and Mechanical System for any store. It is a desktop application that is used to manage the store's
            inventory, sales, and reports. It is also used to manage the store's mechanical system.
          </p>
          <p>It's 100% Python & MongoDB for Database</p>
          <a href="https://github.com/palatipjant/DoubleJ" target="_blank" class="btn btn-default">View on GitHub</a>
        </div>
      </div>
    </app-ui-modal>

    <div
      class="col-md-4 col-sm-6 grid-item itsfye"
      *ngIf="workFilter === 'all' || workFilter === 'itsfye'"
    >
      <a href="https://www.tiktok.com/@palatipjant/video/7228149032470793477" class="work-content" target="_blank">
        <div class="portfolio-item rounded shadow-dark">
          <div class="details">
            <span class="term">It's fye</span>
            <h4 class="title">peace begins with a smile -</h4>
            <span class="more-button"><i class="icon-camrecorder"></i></span>
          </div>
          <div class="thumb">
            <img src="assets/images/works/peace-tiktok.png" alt="Portfolio-title" />
            <div class="mask"></div>
          </div>
        </div>
      </a>
    </div>

    <!-- portfolio item -->
    <div class="col-md-4 col-sm-6 grid-item itsfye" *ngIf="workFilter === 'all' || workFilter === 'itsfye'">
      <a href="javascript:" class="work-video">
        <div class="portfolio-item rounded shadow-dark">
          <div class="details">
            <span class="term">It's fye</span>
            <h4 class="title">จุดเริ่มต้น | It's fye Ep.0</h4>
            <span class="more-button"><i class="icon-camrecorder"></i></span>
          </div>
          <div class="thumb">
            <ng-image-slider [images]="videoObject" #nav></ng-image-slider>
            <div class="mask"></div>
          </div>
        </div>
      </a>
    </div>


    <div
      class="col-md-4 col-sm-6 grid-item website"
      *ngIf="workFilter === 'all' || workFilter === 'website'"
    >
      <a href="javascript:" class="work-content" data-toggle="modal" (click)="exampleModalCenter1.show()">
        <div class="portfolio-item rounded shadow-dark">
          <div class="details">
            <span class="term">Website</span>
            <h4 class="title">Portfolio Website</h4>
            <span class="more-button"><i class="icon-options"></i></span>
          </div>
          <div class="thumb">
            <img src="assets/images/works/portfolio-website.png" alt="Portfolio-title" />
            <div class="mask"></div>
          </div>
        </div>
      </a>
    </div>

    <app-ui-modal #exampleModalCenter1 dialogClass="modal-dialog-centered work-modal" [hideHeader]="true" [hideFooter]="true">
      <div class="app-modal-body">
        <div id="small-dialog" class="white-popup zoom-anim-dialog mfp-hide">
          <img src="assets/images/works/portfolio-website.png" alt="Title" />
          <h2>Poerfolio Website</h2>
          <p>
            Discover the Dynamic Evolution of my Work and Ideas: Explore my Portfolio Website, 
            your gateway to witnessing the constant updates of my latest projects and insightful blog posts.
          </p>
          <a href="https://github.com/palatipjant/portfolio-website" target="_blank" class="btn btn-default">View on GitHub</a>
        </div>
      </div>
    </app-ui-modal>

    <div
      class="col-md-4 col-sm-6 grid-item software"
      *ngIf="workFilter === 'all' || workFilter === 'software'"
    >
      <a href="javascript:" class="work-content" data-toggle="modal" (click)="exampleModalCenter2.show()">
        <div class="portfolio-item rounded shadow-dark">
          <div class="details">
            <span class="term">Software & Application</span>
            <h4 class="title">Cereal Application</h4>
            <span class="more-button"><i class="icon-options"></i></span>
          </div>
          <div class="thumb">
            <img src="assets/images/works/cereal-app.png" alt="Portfolio-title" />
            <div class="mask"></div>
          </div>
        </div>
      </a>
    </div>

    <app-ui-modal #exampleModalCenter2 dialogClass="modal-dialog-centered work-modal" [hideHeader]="true" [hideFooter]="true">
      <div class="app-modal-body">
        <div id="small-dialog" class="white-popup zoom-anim-dialog mfp-hide">
          <img src="assets/images/works/cereal-app.png" alt="Title" />
          <h2>Cereal Application</h2>
          <p>
            Rise and Shine with Python's Cereal App: A Tasty Bowl of Efficiency! Start your day informed with news updates, plan your tasks with an intuitive scheduler, 
            solve equations swiftly with the built-in calculator, and enhance your workflow with a delightful soundtrack - all served hot in this 100% Python-developed app!
          </p>
          <p>
            This Python Application is one of my final projects for my first year of Computer Science at the Bangkok University.
          </p>
          <a href="https://github.com/palatipjant/Cereal-Application" target="_blank" class="btn btn-default">View on GitHub</a>
        </div>
      </div>
    </app-ui-modal>
    
    <!-- portfolio item -->
    <!-- <div class="col-md-4 col-sm-6 grid-item creative" *ngIf="workFilter === 'all' || workFilter === 'creative'">
      <a href="javascript:" class="work-video" (click)="audioModal.show()">
        <div class="portfolio-item rounded shadow-dark">
          <div class="details">
            <span class="term">Creative</span>
            <h4 class="title">Onboarding Motivation</h4>
            <span class="more-button"><i class="icon-music-tone-alt"></i></span>
          </div>
          <div class="thumb">
            <img src="assets/images/works/4.svg" alt="Portfolio-title" />
            <div class="mask"></div>
          </div>
        </div>
      </a>
    </div> -->

    <!-- <app-ui-modal #audioModal dialogClass="modal-dialog-centered work-modal audio-modal" [hideHeader]="true" [hideFooter]="true">
      <div class="app-modal-body">
        <iframe
          id="music-on"
          class="mfp-iframe"
          frameborder="0"
          allowfullscreen=""
          src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/385068290&color=%23ff5500&
auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&
show_teaser=true&visual=true"
        ></iframe>
      </div>
    </app-ui-modal> -->

    <!-- portfolio item -->
    <!-- <div class="col-md-4 col-sm-6 grid-item art branding" *ngIf="workFilter === 'all' || workFilter === 'art' || workFilter === 'branding'">
      <a href="javascript:" class="gallery-link" (click)="albumsGallery.open(0)">
        <div class="portfolio-item rounded shadow-dark">
          <div class="details">
            <span class="term">Art, Branding</span>
            <h4 class="title">iMac Mockup Design</h4>
            <span class="more-button"><i class="icon-picture"></i></span>
          </div>
          <div class="thumb">
            <app-gallery #albumsGallery [albums]="albums"></app-gallery>
            <div class="mask"></div>
          </div>
        </div>
      </a>
    </div> -->

    <!-- portfolio item -->
    <!-- <div
      class="col-md-4 col-sm-6 grid-item creative design"
      *ngIf="workFilter === 'all' || workFilter === 'creative' || workFilter === 'design'"
    >
      <a href="javascript:" target="_blank">
        <div class="portfolio-item rounded shadow-dark">
          <div class="details">
            <span class="term">Creative, Design</span>
            <h4 class="title">Game Store App Concept</h4>
            <span class="more-button"><i class="icon-link"></i></span>
          </div>
          <div class="thumb">
            <img src="assets/images/works/6.svg" alt="Portfolio-title" />
            <div class="mask"></div>
          </div>
        </div>
      </a>
    </div>
  </div> -->

  <!-- more button -->
  <!-- <div class="load-more text-center mt-4">
    <a href="javascript:" class="btn btn-default"><i class="fas fa-spinner"></i> Load more</a>
    numbered pagination (hidden for infinite scroll)
    <ul class="portfolio-pagination list-inline d-none">
      <li class="list-inline-item">1</li>
      <li class="list-inline-item"><a href="javascript:">2</a></li>
    </ul>
  </div> -->
</div>
