<div class="container">
  <!-- section title -->
  <h2 class="section-title wow fadeInUp">Latest Posts</h2>

  <div class="spacer-60"></div>

  <div class="row blog-wrapper">
    <div class="col-md-4">
      <!-- blog item -->
      <div class="spacer-20"></div>
      <div class="blog-item rounded bg-white shadow-dark wow fadeIn">
        <div class="thumb">
          <a href="javascript:">
            <span class="category">Awards</span>
          </a>
          <a href="https://www.linkedin.com/feed/update/urn:li:activity:7095910341724770304/" target="_blank">
            <img src="assets/images/blog/app_comp.JPG" alt="blog-title" />
          </a>
        </div>
        <div class="details">
          <h4 class="my-0 title"><a href="https://www.linkedin.com/feed/update/urn:li:activity:7095910341724770304/" target="_blank">
            1st place Application Development Competition</a></h4>
          <ul class="list-inline meta mb-0 mt-2">
            <li class="list-inline-item">11 August, 2023</li>
            <li class="list-inline-item">Palatip Jantawong</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <!-- blog item -->
      <div class="spacer-20"></div>
      <div class="blog-item rounded bg-white shadow-dark wow fadeIn">
        <div class="thumb">
          <a href="javascript:">
            <span class="category">Blog</span>
          </a>
          <a href="https://medium.com/@palatipjant/%E0%B8%A7%E0%B8%B4%E0%B8%98%E0%B8%B5-deploy-angular-%E0%B8%9A%E0%B8%99-azure-web-app-%E0%B8%9C%E0%B9%88%E0%B8%B2%E0%B8%99-vscode-4959780760df" target="_blank">
            <img src="assets/images/blog/angular-deploy.png" alt="blog-title" />
          </a>
        </div>
        <div class="details">
          <h4 class="my-0 title"><a href="https://medium.com/@palatipjant/%E0%B8%A7%E0%B8%B4%E0%B8%98%E0%B8%B5-deploy-angular-%E0%B8%9A%E0%B8%99-azure-web-app-%E0%B8%9C%E0%B9%88%E0%B8%B2%E0%B8%99-vscode-4959780760df" target="_blank">
            วิธี Deploy Angular บน Azure Web App ผ่าน VSCode</a></h4>
          <ul class="list-inline meta mb-0 mt-2">
            <li class="list-inline-item">12 June, 2023</li>
            <li class="list-inline-item">Palatip Jantawong</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <!-- blog item -->
      <div class="spacer-20"></div>
      <div class="blog-item rounded bg-white shadow-dark wow fadeIn">
        <div class="thumb">
          <a href="javascript:">
            <span class="category">YTSA#18</span>
          </a>
          <a href="https://www.linkedin.com/feed/update/urn:li:activity:7024974345076690944/" target="_blank">
            <img src="assets/images/blog/ytsa.png" alt="blog-title" />
          </a>
        </div>
        <div class="details">
          <h4 class="my-0 title"><a href="https://www.linkedin.com/feed/update/urn:li:activity:7024974345076690944/" target="_blank">
            Young Thai Science Ambassadors Program</a></h4>
          <ul class="list-inline meta mb-0 mt-2">
            <li class="list-inline-item">22 January, 2023</li>
            <li class="list-inline-item">Palatip Jantawong</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <!-- blog item -->
      <div class="spacer-20"></div>
      <div class="blog-item rounded bg-white shadow-dark wow fadeIn">
        <div class="thumb">
          <a href="javascript:">
            <span class="category">Blog</span>
          </a>
          <a href="https://medium.com/@feee_dev/basic-file-exploit-picoctf-26d9b97e60e8" target="_blank">
            <img src="assets/images/blog/basic-file-exploit.png" alt="blog-title" />
          </a>
        </div>
        <div class="details">
          <h4 class="my-0 title"><a href="https://medium.com/@feee_dev/basic-file-exploit-picoctf-26d9b97e60e8" target="_blank">basic-file-exploit (picoCTF)</a></h4>
          <ul class="list-inline meta mb-0 mt-2">
            <li class="list-inline-item">02 September, 2022</li>
            <li class="list-inline-item">Palatip Jantawong</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <!-- blog item -->
      <div class="spacer-20"></div>
      <div class="blog-item rounded bg-white shadow-dark wow fadeIn">
        <div class="thumb">
          <a href="javascript:">
            <span class="category">Blog</span>
          </a>
          <a href="https://medium.com/@feee_dev/picoctf-forensics-5df13791721" target="_blank">
            <img src="assets/images/blog/picoCTF-Forensics.png" alt="blog-title" />
          </a>
        </div>
        <div class="details">
          <h4 class="my-0 title"><a href="https://medium.com/@feee_dev/picoctf-forensics-5df13791721" target="_blank">picoCTF Forensics</a></h4>
          <ul class="list-inline meta mb-0 mt-2">
            <li class="list-inline-item">22 August, 2022</li>
            <li class="list-inline-item">Palatip Jantawong</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <!-- blog item -->
      <div class="spacer-20"></div>
      <div class="blog-item rounded bg-white shadow-dark wow fadeIn">
        <div class="thumb">
          <a href="javascript:">
            <span class="category">MLSA</span>
          </a>
          <a href="https://studentambassadors.microsoft.com/studentambassadors/certificate/37d5e587-c9f1-4f32-a63b-1ab24fc49bd2" target="_blank">
            <img src="assets/images/blog/mlsa1.png" alt="blog-title" />
          </a>
        </div>
        <div class="details">
          <h4 class="my-0 title"><a href="https://studentambassadors.microsoft.com/studentambassadors/certificate/37d5e587-c9f1-4f32-a63b-1ab24fc49bd2" target="_blank">Microsoft Learn Student Ambassadors</a></h4>
          <ul class="list-inline meta mb-0 mt-2">
            <li class="list-inline-item">19 October, 2022</li>
            <li class="list-inline-item">Palatip Jantawong</li>
          </ul>
        </div>
      </div>
    </div>

    
  </div>
</div>
