<div class="container">
  <!-- section title -->
  <h2 class="section-title wow fadeInUp">Latest Posts</h2>

  <div class="spacer-60"></div>

  <div class="row blog-wrapper">
    <div class="col-md-4">
      <!-- blog item -->
      <div class="blog-item rounded bg-white shadow-dark wow fadeIn">
        <div class="thumb">
          <a href="javascript:">
            <span class="category">YTSA#18</span>
          </a>
          <a href="https://www.linkedin.com/feed/update/urn:li:activity:7024974345076690944/" target="_blank">
            <img src="assets/images/blog/ytsa.png" alt="blog-title" />
          </a>
        </div>
        <div class="details">
          <h4 class="my-0 title"><a href="https://www.linkedin.com/feed/update/urn:li:activity:7024974345076690944/" target="_blank">
            Young Thai Science Ambassadors Program</a></h4>
          <ul class="list-inline meta mb-0 mt-2">
            <li class="list-inline-item">22 January, 2023</li>
            <li class="list-inline-item">Palatip Jantawong</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <!-- blog item -->
      <div class="blog-item rounded bg-white shadow-dark wow fadeIn">
        <div class="thumb">
          <a href="javascript:">
            <span class="category">Blog</span>
          </a>
          <a href="https://medium.com/@feee_dev/basic-file-exploit-picoctf-26d9b97e60e8" target="_blank">
            <img src="assets/images/blog/basic-file-exploit.png" alt="blog-title" />
          </a>
        </div>
        <div class="details">
          <h4 class="my-0 title"><a href="https://medium.com/@feee_dev/basic-file-exploit-picoctf-26d9b97e60e8" target="_blank">basic-file-exploit (picoCTF)</a></h4>
          <ul class="list-inline meta mb-0 mt-2">
            <li class="list-inline-item">02 September, 2022</li>
            <li class="list-inline-item">Palatip Jantawong</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <!-- blog item -->
      <div class="blog-item rounded bg-white shadow-dark wow fadeIn">
        <div class="thumb">
          <a href="javascript:">
            <span class="category">Blog</span>
          </a>
          <a href="https://medium.com/@feee_dev/picoctf-forensics-5df13791721" target="_blank">
            <img src="assets/images/blog/picoCTF-Forensics.png" alt="blog-title" />
          </a>
        </div>
        <div class="details">
          <h4 class="my-0 title"><a href="https://medium.com/@feee_dev/picoctf-forensics-5df13791721" target="_blank">picoCTF Forensics</a></h4>
          <ul class="list-inline meta mb-0 mt-2">
            <li class="list-inline-item">22 August, 2022</li>
            <li class="list-inline-item">Palatip Jantawong</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
